@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    margin: 0px;
}
body {
    font-family: Poppins;
    margin: 0px;
}


@media (min-width: 375px) and (max-width: 575px) {
    
}

@media (max-width: 576px) {

}

@media (min-width: 577px) and (max-width: 767px) {
   
}

@media (min-width: 768px) and (max-width: 991px) {

}